* {
  border-width: 2px;
}

body {
  background-color: #faf9f6;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "sidebar main main"
    "footer footer footer";
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  padding: 16px;
}

.header {
  grid-area: header;
  border-bottom-style: solid;
  border-left-style: solid;
  padding: 16px;
}

.main {
  grid-area: main;
  border-left-style: solid;
  padding: 16px;
}

.sidebar {
  padding: none;
  grid-area: sidebar;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.footer {
  grid-area: footer;
  border-top-style: solid;
  border-right-style: solid;
}

.nav-links {
  list-style: none;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
  width: 100%;
}

/* a:hover {
  text-decoration: underline;
  text-decoration-color: black;
} */

#link_1:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(255, 73, 73);
}

#link_2:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(229, 255, 0);
}

#link_3:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(28, 255, 7);
}

#link_4:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(0, 255, 213);
}

li {
  padding: 4px;
}
